body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(240, 54%, 90%);
}

li {
    margin: 5px;
    padding: 5px;
}

a {
    color: black;
}
a:visited {
    color: black;
}
