body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #d30a40;
}

img {
    height: auto;
    width: 400px;
}

#screen {
    width: 800;
    height: 500;
    flex-shrink: 0;
    background-color: black;
}
